<header>
  <h1>{{title}}</h1>
  <img src="assets/img/chuckNorrisHeader.png">
</header>

<main>
  <ng-container [ngSwitch]="searchEnabled">
    <app-search-fact *ngSwitchCase="true"></app-search-fact>
    <app-random-fact *ngSwitchDefault [categories]="categories"></app-random-fact>
  </ng-container>

  <button mat-stroked-button type="button" (click)="toggleSearch()">
    <span>{{searchEnabled ? 'Go to Random facts' : 'Go to Search'}}</span>
    &nbsp;
    <mat-icon>arrow_forward</mat-icon>
  </button>
</main>
